head
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
body
  if user
    if user.isMember
      h1(id='highlight') Приятно познакомиться, товарищ
    else
      h1 Welcome, #{user.name}
      a(href='/register-membership') Register a membership
      a(href='/new-message') Post a new message
  else
    h1 Welcome
    a(href='/sign-up') Sign up
    a(href='/login') Login
