head
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
body
  h1 Login
  form(action='' method='post')
    div
      label(for='email') Email
      input(id='email' name='email' type='email' required)

    div
      label(for='password') Password
      input(id='password' name='password' type='password' required)

    if err
      for er in err
        p #{er}

    button Login