head
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
body
  h1 Sign up
  form(action='' method='post')
    div
      label(for='name') Name
      input(id='name' name='name' type='text' value=form ? form.name : '' required)

    div
      label(for='email') Email
      input(id='email' name='email' type='email' value=form ? form.email : '' required)

    div
      label(for='password') Password
      input(id='password' name='password' type='password' required)

    div
      label(for='confirm-password') Confirm password
      input(id='confirm-password' name='confirmPassword' type='password' required)

    if err
      for er in err
        p #{er.msg}

    button Sign up