head
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
body
  h1 Sign up
  form(action='' method='post')
    div
      label(for='name') Name
      input(id='name' name='name' type='text' required)

    div
      label(for='email') Email
      input(id='email' name='email' type='email' required)

    div
      label(for='password') Password
      input(id='password' name='password' type='password' required)

    div
      label(for='confirm-password') Confirm password
      input(id='confirm-password' name='confirm-password' type='password' required)

    div
      label(for='is-member') Are you a member?
      input(id='is-member' name='is-member' type='checkbox' value='true')

    button Sign up