body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;

  width: 200px;
  margin: auto;
}

.message-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
  width: 80%;
  height: 500px;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
  width: 20%px;
  height: 200px;
}